*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Gemunu Libre", sans-serif;
}
     div{
        border: 1px solid black;
        height: 100px;
        width: 100px;
        margin: 0px auto;
        margin-bottom: 20px;
     }
     div.red{
        background-color: aliceblue;
     }
     div.green{
        background-color:    aqua;
     }
     div.purple{
        background-color:   blue;
     }
     h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;/*horizontal*/
        line-height: 100px;/*vertical*/
        color: rgb(0, 0, 0);

     }

     .circle{
            border-radius: 50%;
     }